Import double encoded

> location="../imports/http%253A%252F%252Fwww.w3.org%252F2001%252FXMLSchema/http%253A%252F%252Fopentosca.org%252Fnodetypes/CloudProviderProperties/CloudProviderProperties.xsd"

> imports\http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema\http%3A%2F%2Fopentosca.org%2Fnodetypes\

[RFC 3986, Section 2.4](https://tools.ietf.org/html/rfc3986#section-2.4) states:

> When a URI is dereferenced, the components and subcomponents
   significant to the scheme-specific dereferencing process (if any)
   must be parsed and separated before the percent-encoded octets within
   those components can be safely decoded, as otherwise the data may be
   mistaken for component delimiters.

I interpret that as the decoding always takes place when dereferencing. See also http://eclipse.github.io/winery/dev/Encoding.